.container{
  padding: 20px 0;
 .pagination{
   overflow: auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.thumb {
  position: absolute;
  width: 200px;
  height: 100%;
  right: 0;
  background-size: cover;
}
.card-body{
  padding-right:250px;
}
.author-thumb {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 50px;
  margin:0 5px;
  position: relative;
  top:3px;
}
.text-muted{
  height:30px;
  line-height: 30px;
  & > span{
    display: inline-block;
    margin: 0 5px;
  }
  svg{
    position: relative;
    top:-1px;
    margin:0 5px;
  }
}
.customDropdown{
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  & > span{
    border: 1px solid rgba(0,0,0,.125);
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 25px 0 5px;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
    &:before{
      display: inline-block;
      content: "";
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>  <path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z' clip-rule='evenodd'/> </svg>");
      background-repeat: no-repeat;
      position: absolute;
      height: 10px;
      width: 10px;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & > div{
    display: none;
    position: absolute;
    z-index: 100;
    box-shadow: 0 6px 27px -4px rgba(48, 65, 85, 0.15);
    border: 1px solid rgba(150, 156, 169, 0.12);
    background: #fff;
    width: 100%;
    top: calc(100% + 10px);
    &.showIt{
      display: block;
    }
    span{
      display: block;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      cursor: pointer;
    }
  }
}
.tags {
  font-size: 12px;
  margin-bottom: 5px;
  span {
    margin-right: 5px;
  }
}

